In [71]:
import pandas as pd
df = pd.read_csv('spotify_dataset.csv')
df = df[['text', 'emotion']]
df = df.drop_duplicates()
allowed_emotions = ['joy', 'sadness', 'anger', 'fear', 'love', 'surprise']
df = df[df['emotion'].isin(allowed_emotions)]
n = 4969
target_emotions = ['joy', 'sadness', 'anger', 'fear', 'love', 'surprise']
df = pd.concat([
    df[df['emotion'] == emotion].sample(n=n, random_state=42)
    for emotion in target_emotions
], ignore_index=True)

,Artist(s),song,text,Length,emotion,Genre,Album,Release Date,Key,Tempo,...,Good for Morning Routine,Similar Artist 1,Similar Song 1,Similarity Score 1,Similar Artist 2,Similar Song 2,Similarity Score 2,Similar Artist 3,Similar Song 3,Similarity Score 3
0,!!!,Even When the Waters Cold,Friends told her she was better off at the bot...,03:47,sadness,hip hop,Thr!!!er,29th April 2013,D min,105,...,0,Corey Smith,If I Could Do It Again,0.986061,Toby Keith,Drinks After Work,0.983719,Space,Neighbourhood,0.983236
1,!!!,One Girl / One Boy,"Well I heard it, playing soft From a drunken b...",04:03,sadness,hip hop,Thr!!!er,29th April 2013,A# min,117,...,0,Hiroyuki Sawano,BRE@TH//LESS,0.995409,When In Rome,Heaven Knows,0.990905,Justice Crew,Everybody,0.984483
2,!!!,Pardon My Freedom,"Oh my god, did I just say that out loud? Shoul...",05:51,joy,hip hop,Louden Up Now,8th June 2004,A Maj,121,...,0,Ricky Dillard,More Abundantly Medley Live,0.993176,Juliet,Avalon,0.965147,The Jacksons,Lovely One,0.956752
3,!!!,Ooo,[Verse 1] Remember when I called you on the te...,03:44,joy,hip hop,As If,16th October 2015,A min,122,...,0,Eric Clapton,Man Overboard,0.992749,Roxette,Don't Believe In Accidents,0.991494,Tiwa Savage,My Darlin,0.990381
4,!!!,Freedom 15,[Verse 1] Calling me like I got something to s...,06:00,joy,hip hop,As If,16th October 2015,F min,123,...,0,Cibo Matto,Lint Of Love,0.981610,Barrington Levy,Better Than Gold,0.981524,Freestyle,Its Automatic,0.981415

In [47]:
import psutil

# Get virtual memory stats
mem = psutil.virtual_memory()

# Display memory info in MB
print(f"Total memory: {mem.total / (1024 ** 2):.2f} MB")
print(f"Used memory: {mem.used / (1024 ** 2):.2f} MB")
print(f"Free memory: {mem.available / (1024 ** 2):.2f} MB")
print(f"Memory usage: {mem.percent}%")

Total memory: 8070.32 MB
Used memory: 6420.54 MB
Free memory: 1649.79 MB
Memory usage: 79.6%

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551443 entries, 0 to 551442
Data columns (total 39 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Artist(s)                       551443 non-null  object
 1   song                            551427 non-null  object
 2   text                            551443 non-null  object
 3   Length                          551443 non-null  object
 4   emotion                         551443 non-null  object
 5   Genre                           551443 non-null  object
 6   Album                           551391 non-null  object
 7   Release Date                    551443 non-null  object
 8   Key                             551443 non-null  object
 9   Tempo                           551443 non-null  int64
 10  Loudness (db)                   551443 non-null  object
 11  Time signature                  551435 non-null  object
 12  Explicit                        551443 non-null  object
 13  Popularity                      551443 non-null  int64
 14  Energy                          551443 non-null  int64
 15  Danceability                    551443 non-null  int64
 16  Positiveness                    551443 non-null  int64
 17  Speechiness                     551443 non-null  int64
 18  Liveness                        551443 non-null  int64
 19  Acousticness                    551443 non-null  int64
 20  Instrumentalness                551443 non-null  int64
 21  Good for Party                  551443 non-null  int64
 22  Good for Work/Study             551443 non-null  int64
 23  Good for Relaxation/Meditation  551443 non-null  int64
 24  Good for Exercise               551443 non-null  int64
 25  Good for Running                551443 non-null  int64
 26  Good for Yoga/Stretching        551443 non-null  int64
 27  Good for Driving                551443 non-null  int64
 28  Good for Social Gatherings      551443 non-null  int64
 29  Good for Morning Routine        551443 non-null  int64
 30  Similar Artist 1                551443 non-null  object
 31  Similar Song 1                  551424 non-null  object
 32  Similarity Score 1              551443 non-null  float64
 33  Similar Artist 2                551443 non-null  object
 34  Similar Song 2                  551423 non-null  object
 35  Similarity Score 2              551443 non-null  float64
 36  Similar Artist 3                551443 non-null  object
 37  Similar Song 3                  551439 non-null  object
 38  Similarity Score 3              551443 non-null  float64
dtypes: float64(3), int64(18), object(18)
memory usage: 164.1+ MB

In [72]:
df = df[['text', 'emotion']]
df.head()

                                                text  emotion
0  Friends told her she was better off at the bot...  sadness
1  Well I heard it, playing soft From a drunken b...  sadness
2  Oh my god, did I just say that out loud? Shoul...      joy
3  [Verse 1] Remember when I called you on the te...      joy
4  [Verse 1] Calling me like I got something to s...      joy

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551443 entries, 0 to 551442
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   text     551443 non-null  object
 1   emotion  551443 non-null  object
dtypes: object(2)
memory usage: 8.4+ MB

In [73]:
duplicate_rows = df.duplicated()
print(f"Total duplicate rows: {duplicate_rows.sum()}")

Total duplicate rows: 53947

In [74]:
df = df.drop_duplicates()
print(f"New shape after removing duplicates: {df.shape}")

New shape after removing duplicates: (497496, 2)

In [75]:
emotion_counts = df['emotion'].value_counts()
print(emotion_counts)

emotion
joy          189123
sadness      156648
anger         95433
fear          25967
love          25331
surprise       4969
True             17
Love              2
pink              2
thirst            1
angry             1
confusion         1
interest          1
Name: count, dtype: int64

In [76]:
allowed_emotions = ['joy', 'sadness', 'anger', 'fear', 'love', 'surprise']
df = df[df['emotion'].isin(allowed_emotions)]

In [77]:
emotion_counts = df['emotion'].value_counts()
print(emotion_counts)

emotion
joy         189123
sadness     156648
anger        95433
fear         25967
love         25331
surprise      4969
Name: count, dtype: int64

In [78]:
n = 4969
target_emotions = ['joy', 'sadness', 'anger', 'fear', 'love', 'surprise']
df = pd.concat([
    df[df['emotion'] == emotion].sample(n=n, random_state=42)
    for emotion in target_emotions
], ignore_index=True)

In [79]:
emotion_counts = df['emotion'].value_counts()
print(emotion_counts)

emotion
joy         4969
sadness     4969
anger       4969
fear        4969
love        4969
surprise    4969
Name: count, dtype: int64

In [80]:
# One-hot encode 'emotion' column
one_hot_emotions = pd.get_dummies(df['emotion'], dtype=int)  # ensure 0/1 integers

# Concatenate with the 'text' column
df = pd.concat([df['text'], one_hot_emotions], axis=1)

# Preview the result
print(df_encoded.head())
print(df_encoded.dtypes)  # Verify all columns are int, not bool

                                                text  anger  fear  joy  love  \
0  [Intro] The homie Young Bop told me He told me...      0     0    1     0
1  I spend too much time thinking about who I'm s...      0     0    1     0
2  [Verse 1] In his boat and through the dark he ...      0     0    1     0
3  [Intro: Mataya] Do you feel, feel Feel, feel D...      0     0    1     0
4  Plug Walk You know you ain't the plug, so how ...      0     0    1     0

   sadness  surprise
0        0         0
1        0         0
2        0         0
3        0         0
4        0         0
text        object
anger        int64
fear         int64
joy          int64
love         int64
sadness      int64
surprise     int64
dtype: object

In [81]:
# # Convert boolean columns to integers (0 and 1)
# for col in df_encoded.columns[1:]:  # Skip the 'text' column
#     df_encoded[col] = df_encoded[col].astype(int)

# Verify the data types
print(df_encoded.dtypes)

text        object
anger        int64
fear         int64
joy          int64
love         int64
sadness      int64
surprise     int64
dtype: object

In [82]:
print(df_encoded.head())
print(df_encoded.dtypes)

                                                text  anger  fear  joy  love  \
0  [Intro] The homie Young Bop told me He told me...      0     0    1     0
1  I spend too much time thinking about who I'm s...      0     0    1     0
2  [Verse 1] In his boat and through the dark he ...      0     0    1     0
3  [Intro: Mataya] Do you feel, feel Feel, feel D...      0     0    1     0
4  Plug Walk You know you ain't the plug, so how ...      0     0    1     0

   sadness  surprise
0        0         0
1        0         0
2        0         0
3        0         0
4        0         0
text        object
anger        int64
fear         int64
joy          int64
love         int64
sadness      int64
surprise     int64
dtype: object

In [83]:
df.head()

,text,anger,fear,joy,love,sadness,surprise
0,[Intro] The homie Young Bop told me He told me...,0,0,1,0,0,0
1,I spend too much time thinking about who I'm s...,0,0,1,0,0,0
2,[Verse 1] In his boat and through the dark he ...,0,0,1,0,0,0
3,"[Intro: Mataya] Do you feel, feel Feel, feel D...",0,0,1,0,0,0
4,"Plug Walk You know you ain't the plug, so how ...",0,0,1,0,0,0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29814 entries, 0 to 29813
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      29814 non-null  object
 1   anger     29814 non-null  int64
 2   fear      29814 non-null  int64
 3   joy       29814 non-null  int64
 4   love      29814 non-null  int64
 5   sadness   29814 non-null  int64
 6   surprise  29814 non-null  int64
dtypes: int64(6), object(1)
memory usage: 1.6+ MB

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Features and target
X = df['text']
y = df.drop('text', axis=1)

# Convert list of tokens to string if necessary
X = X.apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

# Split into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# TF-IDF Vectorization
tfidf = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf.fit_transform(X_train)
X_val_tfidf = tfidf.transform(X_val)

# Train with OneVsRestClassifier
model = OneVsRestClassifier(LogisticRegression(max_iter=1000))
model.fit(X_train_tfidf, y_train)

# Predict
y_pred = model.predict(X_val_tfidf)

# Evaluation
print("Accuracy:", accuracy_score(y_val, y_pred))
print("\nClassification Report:\n", classification_report(y_val, y_pred, target_names=y.columns))

Accuracy: 0.15025993627368775

Classification Report:
               precision    recall  f1-score   support

       anger       0.64      0.20      0.31      1023
        fear       0.77      0.11      0.20       967
         joy       0.65      0.04      0.07       966
        love       0.77      0.24      0.37      1034
     sadness       0.61      0.09      0.15      1014
    surprise       0.91      0.22      0.36       959

   micro avg       0.74      0.15      0.25      5963
   macro avg       0.72      0.15      0.24      5963
weighted avg       0.72      0.15      0.24      5963
 samples avg       0.15      0.15      0.15      5963

D:\pythonAllcode\project1\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [68]:
df.head()

,text,anger,fear,joy,love,sadness,surprise
0,[Intro] The homie Young Bop told me He told me...,0,0,1,0,0,0
1,I spend too much time thinking about who I'm s...,0,0,1,0,0,0
2,[Verse 1] In his boat and through the dark he ...,0,0,1,0,0,0
3,"[Intro: Mataya] Do you feel, feel Feel, feel D...",0,0,1,0,0,0
4,"Plug Walk You know you ain't the plug, so how ...",0,0,1,0,0,0

In [69]:
# Count of 0s and 1s in each category (column-wise)
emotion_counts = df_encoded.drop('text', axis=1).apply(pd.Series.value_counts).T

# Rename columns for clarity
emotion_counts.columns = ['Count of 0s', 'Count of 1s']

# Display the result
print(emotion_counts)

          Count of 0s  Count of 1s
anger           24845         4969
fear            24845         4969
joy             24845         4969
love            24845         4969
sadness         24845         4969
surprise        24845         4969

In [70]:
# Assuming 'text' column is still present and the rest are emotion columns (binary: 0/1)
emotion_counts = df.drop(columns='text').apply(pd.Series.value_counts).T

# Rename for clarity
emotion_counts.columns = ['False (0)', 'True (1)']

# Show the result
print(emotion_counts)

          False (0)  True (1)
anger         24845      4969
fear          24845      4969
joy           24845      4969
love          24845      4969
sadness       24845      4969
surprise      24845      4969